<form class="campaign-form" [formGroup]="campaignForm" (ngSubmit)="submit()">
  <tao-card class="form-card">
    <div class="card-header">
      <h2>Campaign Information</h2>

      <p>Define the basic information for this hiring campaign.</p>
    </div>

    <div class="form-grid">
      <tao-input
        label="Campaign Name"
        placeholder="e.g. Senior .NET Hiring"
        formControlName="campaignName"
        [showErrors]="showValidationErrors()"
        [required]="true"
      />

      <tao-input
        label="Reference Number"
        placeholder="e.g. DEV-001"
        formControlName="referenceNumber"
        [showErrors]="showValidationErrors()"
        [required]="true"
      />

      <tao-select
        label="Hiring Manager ID"
        placeholder="Select Hiring Manager"
        formControlName="hiringManagerId"
        [required]="true"
        [showErrors]="showValidationErrors()"
        [options]="hiringManagers()"
        [optionLabel]="getUserLabel"
        [optionValue]="getUserValue"
      ></tao-select>

      <tao-select
        label="Recruiter"
        placeholder="Select recruiter"
        formControlName="recruiterId"
        [required]="true"
        [showErrors]="showValidationErrors()"
        [options]="recruiters()"
        [optionLabel]="getUserLabel"
        [optionValue]="getUserValue"
      ></tao-select>

      <tao-input
        label="Number of Openings"
        type="number"
        placeholder="e.g. 2"
        formControlName="openings"
        [showErrors]="showValidationErrors()"
        [required]="true"
      />
    </div>
  </tao-card>

  <div class="form-actions">
    <tao-button type="button" label="Cancel" appearance="outlined" (click)="cancel()" />

    <tao-button type="submit" label="Create Campaign" appearance="filled" color="primary" />
  </div>
</form>
