@import "material-icons/iconfont/material-icons.css";

html,
body {
  margin: 0;
  font-family: var(--tao-font-family);
  background: var(--tao-color-f5f7fb);
}
* {
  box-sizing: border-box;
}

.mat-mdc-snack-bar-container.tao-toast--success {
  --mat-snack-bar-container-color: #50c878;
  --mat-snack-bar-supporting-text-color: #ffffff;
  --mat-snack-bar-button-color: #ffffff;
}

.mat-mdc-snack-bar-container.tao-toast--error {
  --mat-snack-bar-container-color: #ff0000;
  --mat-snack-bar-supporting-text-color: #ffffff;
  --mat-snack-bar-button-color: #ffffff;
}
.mat-mdc-snack-bar-container.tao-toast--info {
  --mat-snack-bar-container-color: #4169e1;
  --mat-snack-bar-supporting-text-color: #ffffff;
  --mat-snack-bar-button-color: #ffffff;
}
/* You can add global styles to this file, and also import other style files */
