@import "material-icons/iconfont/material-icons.css";

html,
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f5f7fb;
}
* {
  box-sizing: border-box;
}
/* You can add global styles to this file, and also import other style files */
