@import "material-icons/iconfont/material-icons.css";

html,
body {
  margin: 0;
  font-family: var(--tao-font-family);
  background: var(--tao-color-f5f7fb);
}
* {
  box-sizing: border-box;
}
/* You can add global styles to this file, and also import other style files */
